<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') -%>
<body>
    <%- include('../partials/header') -%>
    Status: <%= status %> <br>
    Working: <%= working %> <br>
    Last Updated: <%= lastUpdated %>
</body>
</html>