<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') -%>
<body>
    <%- include('../partials/header') -%>

    Status: <%= status %> <br>
    Working Members: <%= working %> <br>
    Number of People at the Media Sphere: <%= size %>
</body>
</html>