<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') -%>
  </head>

  <body>
    <%- include('../partials/header') -%>
    
    <form action="/sign-in" method="post">
      User Search: <input type="text" name="queryString"> <br>
      <input type="submit" value="Search">
    </form>

    <% if(searchResult) { %>
      <% searchResult.forEach((result)=>{ %>
        Name: <%= result.firstName %> <%= result.lastName %>
        ID: <%= result.id %>
        <button type="submit" name="<%= result.id %>">Sign-In</button> <br>
      <% }) %>
    <% } %>
  </body>
</html>
